{% extends './layout.html' %} 
{% block title %} 
  Agregar Nueva Nota
{% endblock %}

{% block body %}
<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4">Afegir nota nova</h1>
  <form action="/add_note" method="POST">
    <div class="mb-4">
      <label for="titol" class="block text-sm font-semibold text-gray-700">Titol:</label>
      <input type="text" id="titol" name="titol" class="form-input mt-1 block w-full" required>
    </div>
    <div class="mb-4">
      <label for="contingut" class="block text-sm font-semibold text-gray-700">Contingut:</label>
      <textarea id="contingut" name="contingut" rows="4" class="form-textarea mt-1 block w-full" required></textarea>
    </div>
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Afegir nota</button>
  </form>
</div>
{% endblock %}
